.carrito-container-img img{
    width: 100px;
    height: 100px;
}
.aside-carrito{
    left: calc(60%);
    width: 40%;
    height: 90%;
}
.carrito-container-img div{
    font-size: 22px;
}
.total-pago{
    font-size: 22px;
}
.button{
    font-size: 22px;
}
.carrito-icon:hover{
    cursor: pointer;
}
.product-card{
    border:1px solid rgba(215, 206, 206, 0.693);
    margin-left: 10px;
    margin-right: 10px;
}
.product-card:hover{
    background-color: rgba(215, 206, 206, 0.493);
    border-radius: 15px;
    cursor: pointer;
}
.opc:hover{
    cursor: pointer;
}
